<header class="mobile" style="color: #ccc">
  <a href="https://mangalacharif.github.io/fr/">FR</a> | <a href="https://mangalacharif.github.io/ar/" style="color: black">AR</a> | <a href="https://mangalacharif.github.io/">EN</a>
  <img style="display: inline-block; width: 18px; margin: 0px; margin-top: -11px; transform: translateY(3.5px); margin-left: 20px;" width="18px" height="18px" src="https://fonts.gstatic.com/s/i/materialicons/language/v1/24px.svg">
</header>

<style>header.mobile {width: auto; z-index: 99; } header.mobile a { color: #ccc; cursor: pointer; font-size: 1.4em; width: 3em; display: inline-block } header.mobile a:hover, .mobile #ar:hover, .mobile #fr:hover { color: #333; }</style>
