@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.embed_title + h1 {

  color: black;
  text-shadow: none;
  margin-left: 1vw;

}

h3 { margin-top: -1em; }

.block_link { text-align: right; margin-top: 2em; }

@media only screen and (max-width: 980px) {

  .embed_title { margin-bottom: 2em; }

  .embed_title + h1 { margin-top: 1em; }

}

video {

  width: 100%;

}

.no_margins {

  margin-top: -30px !important;
  margin-bottom: -10px !important;

}

img.quote, .quote img {
  height: 30vh;
  object-fit: contain;
}

img.quote.large, .quote.large img {
  height: 40vh;
  margin-top: -50px;
  margin-bottom: -50px;
}

.fullheight img, img.fullheight {
  max-height: 100vh !important;
}

#content {

  padding-top: 12vh;
  left: 0;
  right: auto;

}

#site_title {

  font-weight: 300;
  line-height: 1.5em;

}

p, h1, h2, h3, h4, h5, h6 {

  text-align: right;
  line-height: 2em;

}

p {

  font-size: 1.1em;

}

h4 {

  font-size: 1.1em;
  margin-bottom: 0.3em;

}

footer, header { font-family: var(--title-font); }

.right_half h2 {

  margin-right: 0;
  margin-top: -2.3em;

}

.multicols img, img.multicols {

  margin: 5%;
  margin-top: 0;

}
